@import '@fontsource-variable/inter';
@import 'tailwindcss';
@source "../**/*.{ts,html}";

@layer base {
  * {
    box-sizing: border-box;
  }
  body {
    margin: 0;
    font-family: 'Inter Variable', 'Inter', sans-serif;
  }
}
